<!--
  Generated template for the DuaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{dua.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class='dua'>

  <div class="bismillah">
  </div>
  <audio src="../../../audio/audio_0.mp3" controls></audio>

  <div class='arabic'>
    <span *ngFor="let ayat of dua.ayats">
      <br>  {{ayat.arab}}
    </span>
  </div>


    <button class='label'>Транскрипция</button>
  <div>
    <span *ngFor="let ayat of dua.ayats">
      <br> {{ayat.translit}}
    </span>
  </div>

 


  {{dua.audio}}

</ion-content>