<!--
  Generated template for the DuaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{dua.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class='dua'>

<ion-row class="bismillah" >
        <ion-col>
        </ion-col>
</ion-row>

 
    <ion-row *ngFor="let ayat of dua.ayats" class='arabic'>
     {{ayat.arab}}
    </ion-row>
  



  
    <ion-row class='label'>
     <button>Транскрипция</button>
    </ion-row>
    <ion-row *ngFor="let ayat of dua.ayats">
     {{ayat.translit}}
    </ion-row>




    <ion-row class='label'>
     <button>Перевод</button>
    </ion-row>
    <ion-row *ngFor="let ayat of dua.ayats">
     {{ayat.rus}}
    </ion-row>



{{dua.audio}}
</ion-content>
