// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/dua/dua";
@import "../pages/dua-list/dua-list";
@import "../pages/info/info";


 scroll-content {
        background-image: url(/build/img/bg_intro.png);
        background-size: cover;
        background-position: center;
 }

 .sideMenu {
 
    scroll-content {
   // background: url(../../img/menu_bg.jpg) !important;
  //  background-size: cover !important;
   // background-position: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-content: stretch !important;
   
    
 

    .logo_image{
    //    flex: 60;
    //    flex-shrink:30;
        margin-top: 2vh !important;
        margin-bottom: 3vh;
       // width: 25vh;
       height: 92px !important;
        align-self: center;
        background-image: url("/build/img/appicon.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .button-inner {
        text-align: left;
       // padding-left: 10vw;
        justify-content:flex-start;
    }

    ion-icon {
        width: 10vw !important;
        margin-top: 0px;
        margin-bottom: 0px;
        color: black;
        z-index: 10;
    }

    button {
    //    width: 10vw !important;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 1vw;
        font-size: 2.5vh !important;
        color: black;
    }


    .menu_button{
        width: 60vw;
        align-self: flex-start !important;
    } 
        
    .menu_icon{
        
        align-self: flex-start !important;
    }
 }
 }


 

 .spinner_container {
 
  z-index: -1;
  transition: z-index 0.2s step-end;
 
  width: 100%;
  height: 100%;
  position: absolute;
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  &.busy {
    z-index: 9999;
    transition: z-index 0.2s step-start;
    .backdrop {
      opacity: 0.3;
    }
  }
 
  .backdrop {
    opacity: 0.01;
    transition: opacity 0.2s;
    background-image: url("/build/img/splash.png") !important;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin-left: -26px;
  }
 
  ion-spinner {
    width: 10vw;
    height: 10vw;
    margin-left:45vw!important;
    margin-top:45vh!important;
  }
 
}