    <div *ngIf='isBusy' class="spinner_container busy">
        <div class="backdrop"><ion-spinner></ion-spinner></div>
        
    </div>

<ion-menu [content]="content">

  <ion-toolbar>
    <ion-title>Меню</ion-title>
  </ion-toolbar>

  <ion-content class="sideMenu">
    
    <ion-row class="logo_image">
        <ion-col>
        </ion-col>
    </ion-row>

  
    <ion-row *ngFor="let p of pages" class="menu_item"> 
      
        <ion-col class="menu_button">
          <button clear round full medium  item-left (click)="openPage(p)">
                 <ion-icon name="{{p.logo}}" item-left></ion-icon>
                 {{p.title}} 
        </button>
        </ion-col>
       
    </ion-row>

    

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
