.dua-list {
    scroll-content {
       
        background-image: url(../../../img/bg.png);
        background-size: cover;
        background-position: center;
       
    }

    .container {
        background-image: url(../../../img/bg.png)!important;
        background-size: cover;
        background-position: center;
    }
     ion-item {
        background-color: transparent !important;
        color:red !important;
        text-align: center;
        padding-left: 0px;
    }

}
